// Variable
$black: rgba(0, 0, 0);
$teal: rgba(13, 148, 136, 1);

// Modal
.modal {
    &::before {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background-color: $black;
        opacity: 0.7;
    }
}

// Card
.card {
    &:hover {
        .card-thumnail:before {
            content: '+';
            display: flex;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 6rem;
            height: 6rem;
            margin-left: -3rem;
            margin-top: -3rem;
            background-color: #fff;
            color: $teal;
            border-radius: 100%;
            font-size: 3.65rem;
            z-index: 2;
            opacity: 0.9;
            cursor: pointer;
        }
    }
    &:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black;
        opacity: 0.7;
        z-index: 1;
    }
}
